button,
.button {
    &:not(.skip-link) {
        @include apply-utility('weight', 'bold');
        position: relative;
        appearance: none;
        color: var(--color-base);
        background: var(--color-primary);
        padding: #{get-size('100')} #{get-size('700')};
        border: calc(#{get-size('100')} / 2) solid var(--color-primary);
        border-radius: .2em;
        text-decoration: none;
        letter-spacing: .05ch;

        &:hover,
        &:focus {
            color: var(--color-primary);
            background-color: transparent;
        }

        &:active {
            background-color: var(--color-shade);
        }

        &:focus {
            text-decoration: underline;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.theme-toggle-wrap {

    button {
        margin: 0 auto;
    }
}