.social-links {
    display: flex;
    place-content: center;

    li {
        margin-left: #{get-size('100')};
        margin-right: #{get-size('100')};
    }

    .social-link {
        display: inline-block;

        &:hover,
        &:focus {
            svg {
                stroke: var(--color-primary);
            }
        }
    }
}


@include dark-theme() {
    .social-link {
        svg {
            stroke: var(--color-text);
        }
    }
}
