{% extends "layouts/base.html" %}

{% block content %}
{# <div class="wrapper">
    <article>
        <div>
            <h1>{{ intro.main }}</h1>
        </div>
    </article>
</div> #}

<div class="wrapper">
    <div class="cabin">
        <h1 class="grenze">Token Music. Grenze/Cabin</h1>
        <p>Experienced, professional tutor and musician, <a href="#">Exeter based</a>, providing private tuition for most music genres in guitar, vocals, bass, Ukulele and Keyboard. Suitable for all ages, beginners +</p>
        </br>
        <p>Þæt ic mote ana ond minra eorla gedryht, þes hearda heap, Heorot fælsian. Hæbbe ic eac geahsod þæt se æglæca for his wonhydum wæpna ne recceð.</p>
        <br>
        <p>Ic þæt þonne forhicge (swa me Higelac sie, min mondrihten, modes bliðe), þæt ic sweord bere oþðe sidne scyld, geolorand to guþe, ac ic mid grape sceal fon wið feonde ond ymb feorh sacan, lað wið laþum; ðær gelyfan sceal. Dryhtnes dome se þe hine deað nimeð. Wen ic þæt he wille, gif he wealdan mot, in þæm guðsele Geotena leode etan unforhte, swa he oft dyde, mægen Hreðmanna. Na þu minne þearft hafalan hydan, ac he me habban wile dreore fahne, gif mec deað nimeð. Byreð blodig wæl, byrgean þenceð, eteð angenga unmurnlice, mearcað morhopu; no ðu ymb mines ne þearft.</p>
    </div>
</div>
<div class="wrapper darkyellow">
    <div class="cabin">
        <h1 class="grenze">Token Music. Grenze/Cabin</h1>
        <p>Experienced, professional tutor and musician, <a href="#">Exeter based</a>, providing private tuition for most music genres in guitar, vocals, bass, Ukulele and Keyboard. Suitable for all ages, beginners +</p>
        </br>
        <p>Þæt ic mote ana ond minra eorla gedryht, þes hearda heap, Heorot fælsian. Hæbbe ic eac geahsod þæt se æglæca for his wonhydum wæpna ne recceð.</p>
        <br>
        <p>Ic þæt þonne forhicge (swa me Higelac sie, min mondrihten, modes bliðe), þæt ic sweord bere oþðe sidne scyld, geolorand to guþe, ac ic mid grape sceal fon wið feonde ond ymb feorh sacan, lað wið laþum; ðær gelyfan sceal. Dryhtnes dome se þe hine deað nimeð. Wen ic þæt he wille, gif he wealdan mot, in þæm guðsele Geotena leode etan unforhte, swa he oft dyde, mægen Hreðmanna. Na þu minne þearft hafalan hydan, ac he me habban wile dreore fahne, gif mec deað nimeð. Byreð blodig wæl, byrgean þenceð, eteð angenga unmurnlice, mearcað morhopu; no ðu ymb mines ne þearft.</p>
    </div>
</div>
<div class="wrapper dark">
    <div class="cabin">
        <h1 class="grenze">Token Music. Grenze/Cabin</h1>
        <p>Experienced, professional tutor and musician, <a href="#">Exeter based</a>, providing private tuition for most music genres in guitar, vocals, bass, Ukulele and Keyboard. Suitable for all ages, beginners +</p>
        </br>
        <p>Þæt ic mote ana ond minra eorla gedryht, þes hearda heap, Heorot fælsian. Hæbbe ic eac geahsod þæt se æglæca for his wonhydum wæpna ne recceð.</p>
        <br>
        <p>Ic þæt þonne forhicge (swa me Higelac sie, min mondrihten, modes bliðe), þæt ic sweord bere oþðe sidne scyld, geolorand to guþe, ac ic mid grape sceal fon wið feonde ond ymb feorh sacan, lað wið laþum; ðær gelyfan sceal. Dryhtnes dome se þe hine deað nimeð. Wen ic þæt he wille, gif he wealdan mot, in þæm guðsele Geotena leode etan unforhte, swa he oft dyde, mægen Hreðmanna. Na þu minne þearft hafalan hydan, ac he me habban wile dreore fahne, gif mec deað nimeð. Byreð blodig wæl, byrgean þenceð, eteð angenga unmurnlice, mearcað morhopu; no ðu ymb mines ne þearft.</p>
    </div>
</div>
<div class="wrapper dark blue">
    <div class="cabin">
        <h1 class="grenze">Token Music. Grenze/Cabin</h1>
        <p>Experienced, professional tutor and musician, <a href="#">Exeter based</a>, providing private tuition for most music genres in guitar, vocals, bass, Ukulele and Keyboard. Suitable for all ages, beginners +</p>
        </br>
        <p>Þæt ic mote ana ond minra eorla gedryht, þes hearda heap, Heorot fælsian. Hæbbe ic eac geahsod þæt se æglæca for his wonhydum wæpna ne recceð.</p>
        <br>
        <p>Ic þæt þonne forhicge (swa me Higelac sie, min mondrihten, modes bliðe), þæt ic sweord bere oþðe sidne scyld, geolorand to guþe, ac ic mid grape sceal fon wið feonde ond ymb feorh sacan, lað wið laþum; ðær gelyfan sceal. Dryhtnes dome se þe hine deað nimeð. Wen ic þæt he wille, gif he wealdan mot, in þæm guðsele Geotena leode etan unforhte, swa he oft dyde, mægen Hreðmanna. Na þu minne þearft hafalan hydan, ac he me habban wile dreore fahne, gif mec deað nimeð. Byreð blodig wæl, byrgean þenceð, eteð angenga unmurnlice, mearcað morhopu; no ðu ymb mines ne þearft.</p>
    </div>
</div>

{% endblock %}
