// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

@import "mixins/vis-h";

@import 'typography';

@import "components/skip-link";

@import "utilities/visually-hidden";

@import "components/site-head";
@import "components/site-foot";

.wrapper {
    width: 60ch;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 #{get-size('800')};
}

.content {
    > * + * {
        margin-top: 1em;
    }
}

article {
    > section {
        &:nth-child(even) {
            background-color: var(--color-shade);
            padding-top: #{get-size('700')};
            padding-bottom: #{get-size('900')};
        }

        + section {
            margin-top: 1.728em;
        }
    }
}