$dark: #212121;
$light: #fafafa;
// $light-alt: #f9f8f7;
$light-alt: #fffaed;
$dark-alt: #201818;

$yellow: #F3B61A;
$yellow-dark: #b34b00;

$blue-lighter: #00bae8;
$blue-light: #009CC2;
$blue: #007A99;
$blue-dark: #005E75;

@import 'reset';

body {
    font-size: 1.2rem;
    background-color: $light;
    color: $dark;

    a {
        color: $blue;
    }
}

.wrapper {
    width: 100vw;
    * {
        max-width: 120ex;
        margin: auto;
    }
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
    background-color: $light;

    &.alt {
        background-color: $light-alt;
    }

    &.darkyellow {
        a {
            color: $yellow-dark;
        }
    }
}

.dark {
    background-color: $dark;
    color: $light;

    a {
        color: $yellow;
    }

    &.alt {
        background-color: $dark-alt;
    }

    &.blue {
        a {
            color: $blue-lighter;
        }
    }
}

.grenze {
    font-family: 'Grenze', serif;
}

.cabin {
    font-family: 'Cabin', sans-serif;
}
