<footer role="contentinfo" class="site-foot">
    <div class="site-foot__content wrapper">
        <nav id="footer-nav" class="footer-nav box-block">
            <ul>
                {% for item in navigation.items %}
                <li>
                    <a href="{{ item.url }}"
                        {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <img class="site-foot__brand box-block" src="/images/meta/token-music-logo-light-trans.png" alt="Token Music circular logo"></img>
        <span class="copyright small box-block">&#169; Token Music 2021</span>
    </div>
</footer>