<a class="skip-link button" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
    <div class="wrapper align-center">
        <div class="site-head__inner">
            <a href="/" aria-label="{{ site.name }} - home" class="align-center h1 site-head__brand">
                <img src="/images/meta/token-music-workmark---straight---1-line---white-text.png" alt="Token Music"></img>
            </a>
            <nav class="nav site-head__nav" aria-label="Primary navigation">
                <ul class="nav__list">
                    <li>
                        <a class="weight-bold" href="/#about">About</a>
                    </li>
                    <li>
                        <a class="weight-bold" href="/#testimonials">Testimonials</a>
                    </li>
                    <li>
                        <a class="weight-bold" href="/#credentials">Credentials</a>
                    </li>
                    <li>
                        <a class="weight-bold" href="/#pricing">Pricing</a>
                    </li>
                </ul>
            </nav>
            <button id="js-theme-toggle" class="toggle-btn--theme box-flex">
                <span id="js-theme-toggle-text" class="theme-toggle-text visually-hidde">Switch to dark theme</span>
            </button>
        </div>
    </div>
</header>